// =======HERO SECTION================
.site-main {
    width: 100%;

}
.hero__section {
    background-color: #014E56;
    
}
.hero__section-wrapper {
    padding-top: 121px;
    padding-bottom: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left__hero-section {
    width: 50%;
}
.hero-lead {
    font-size: 100px;
    line-height: 100px;
    color: #fff;
}
.hero-span {
    color: #F67E7E;

}
.hero-image1 {
    position: absolute;
    top: 220px;
    margin-left: -240px;
}
.right__hero-section {
    width: 48%;
}
.right__hero-section::before {
    content: url('../../image/Rectangle.png');
    position: absolute;
    margin-top: -79px;
}
.right__hero-section::after {
    position: absolute;
    content: url('../../image/herobackground.svg');
    margin-top: 100px;
    margin-left: 150px;
}
.hero-text {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 600;
}
@include breakpoint-down (768px) {
    .hero__section-wrapper {
        align-items: center;
        justify-content: center;
    }
    .left__hero-section {
        width: 50%;
        text-align: center;
    }
    .hero-lead {
        font-size: 64px;
        line-height: 56px;
        margin-bottom: 24px;
    }
    .hero-image1 {
        display: none;
    }
    .hero-text {
        font-size: 15px;
        line-height: 28px;
        text-align: center;
    }
    .right__hero-section {
        width: 60%;
        
       
    }
    .right__hero-section::before {
        display: none;
    }
    .right__hero-section::after {
        margin-left: 50px;

    }
}
@include breakpoint-down (425px) {
    .hero__section-wrapper {
        padding-top: 80px
    }
    .left__hero-section {
        width: 100%;
        margin-bottom: 18px;
    }
    .hero-lead {
        width: 200px;
        font-size: 40px;
        line-height: 40px;
        margin: auto;
        
    }
    .right__hero-section {
        width: 100%;
        
       
    }
    .hero-text {
        width: 300px;
        margin: auto;
        font-size: 15px;
        line-height: 28px;
    }
    .right__hero-section::after {
        margin-left: 20px;

    }
}
@include breakpoint-down (375px) {
    .right__hero-section::after {
        margin-left: -10px;

    }
}
@include breakpoint-down (320px) {
    .right__hero-section::after {
        
        margin-left: -58px;

    }
}