// ========MANAGE SECTION==================
.section__manage {
    background-color: #012F34;
    
}
.manage-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 120px;
    flex-wrap: wrap;
}
.left__manage-section {
    width: 40%;
}
.left__manage-section::before {
    content: url('../../image/line2.png');
    position: absolute;
    margin-top: -54px;
}
.manege-line {
    position: absolute;
    margin-top: -50px;
}
.manage__lead {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
}
.right__manege-section {
    width: 45%;
}
.manage__list {
    @include list-unstyled;
    
}
.manage__item {
    margin-bottom: 30px;
    display: flex;
}
.manege__item-img {
    margin-right: 25px;
}
.manage__item-lead {
    margin-bottom: 16px;
    color: #F67E7E;
    font-size: 18px;
}
.manage__item-text {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}
.manage-img {
    position: absolute;
    display: block;
    margin-top: -125px;
    margin-left: 518px;
}
@include breakpoint-down (768px) {
    .manage-section {
        padding-top: 136px;
        align-items: center;
        justify-content: center;
    }
    .left__manage-section {
        width: 60%;
        margin-bottom: 64px;
        transform: translateX(-70px);
        .manage__lead {
            font-size: 32px;
            line-height: 32px;
        }
    }
    .right__manege-section {
        width: 80%;

        
        .manage__list {
            width: 80%;
        }
       
    }
    .manage-img {
        margin-top: -610px;
        margin-left: 574px;
    }
    
}
@include breakpoint-down (425px) {
    .manage-section {
        padding-top: 100px;
        padding-bottom: 64px;
    }
    .left__manage-section {
        width: 50%;
        margin-bottom: 56px;
        transform: translateX(-70px);
        .manage__lead {
            font-size: 32px;
            line-height: 32px;
        }
    }
    .right__manege-section {
        width: 100%;

        
        .manage__list {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
        .manage__item {
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .manage-item__div {
            text-align: center;
        }
        .manege__item-img {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    .manage-img {
        margin-top: -926px;
        margin-left: 305px;
    }
}
@include breakpoint-down (375px) {
    .manage-img {
        margin-top: -1002px;
        margin-left: 254px;
    }
}
@include breakpoint-down (320px) {
    .manage-img {
        margin-top: -1034px;
        margin-left: 200px;
    }
}